{% extends 'base.twig' %}

{% block title %}
  {{ subject }}
{% endblock %}

{% block content %}
  <!-- CONTENT -->
  <p>Hi {{ firstName }},</p>
  <p>Forgot your password? Submit a patch request qith your new password and password congirm to the reset URL: {{ url }}</p>
  <p>Click the button below to reset your password</p>
  <table class="btn btn-primary" role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td align="left">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td>
                  <a href="{{ url }}" target="_blank">Reset Your Password</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    If you did make this request, please ignore thid email. <br /> This link is valid for 10 minutes only!
  </p>
  <p>- Natours Team</p>
{% endblock %}
